.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 73vh;
}
.support{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 3rem;
    color: #474745;
}
.container img{
    position: relative;
    bottom: 4rem;
    width: 15rem;
}

@media (max-width:768px) {
    .support{
        font-size: 2rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
