.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
}
.support{
    display: flex;
    justify-content: center;
    position: relative;
    top: 2rem;
    font-size: 3rem;
    color: #474745;
}
.apple{
    width: 10rem;
}
.container img{
    position: relative;
    bottom: 4rem;
}