* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.footer {
  background-color: #474745;
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 10px 0;
  color: #fff;
  max-width: 100%;
  font-style: italic;
  text-transform: capitalize;
}
.love {
  color: crimson;
}
