.container {
 width: 100%;
 padding: 30px;
 display: flex;
 justify-content: space-evenly;
 color: pink;
 margin-bottom: 5px;
 background-color:#524A48 ;
}
.container button{
  color: #524A48;
  background-color: pink;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
}
.container span{
  padding-left:2px ;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
