.container img {
  width: 300px;
  height: 400px;
}
.container {
  margin: 5px 0;
  background-color: #ddbea9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(189, 189, 189);
  height: 40rem;
  width: 400px;
}
.container h3 {
  color: #474745;
  padding:30px;
}
.container p {
  margin: 0 25px 20px;
  background-color: crimson;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 25px;
  margin: 25px;
  
}
.counter img ,span{
  position: relative;
  width: 25px;
  bottom:100px ;
  height: 10%;
  left: 100%;
  padding:5px ;
}
.counter span{
    background-color: crimson;
    width: 5px;
    height: 10px;
    border-radius: 25%;
    padding:12px;
    position: relative;
    right: 30px;
    font-weight: bold;
    color: #fff;
}
.counter img:hover{
    cursor: pointer;
}
.deactive{
    opacity: 0.3;
}
