* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.product {
  background-color: #ddbea9;
  min-height: 15px;
  max-width: 20rem;
  position: relative;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #cecece;
  bottom: 6rem;
}
.imgProduct {
  background-color: #fff;
  
}
.product h1 {
  padding: 5px;
}
.price {
  background-color: crimson;
  width: fit-content;
  padding: 2px;
  position: relative;
  top: 20px;
}
.counter {
  position: relative;
  left: 18rem;
  bottom: 2rem;
}
.upArrow,
.downArrow {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50px;
  margin: 5px;
  position: relative;
  right: 5px;
}
.count {
  position: relative;
  background-color: crimson;
  width: fit-content;
  padding: 0 10px 0 10px;
  border-radius: 3px;
  color: white;
  bottom: 1px;
}
.opacit{
  opacity: 0.3;
}
